<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.peseca.safedata">

    <!-- just handsets allowed-->
    <compatible-screens>
        <!-- all small size screens -->
        <screen android:screenSize="small" android:screenDensity="ldpi" /> <!-- 120 -->
        <screen android:screenSize="small" android:screenDensity="mdpi" /> <!-- 160 -->
        <screen android:screenSize="small" android:screenDensity="hdpi" /> <!-- 240 -->
        <screen android:screenSize="small" android:screenDensity="280" /> <!-- Workaround -->
        <screen android:screenSize="small" android:screenDensity="xhdpi" /> <!-- 320 -->
        <screen android:screenSize="small" android:screenDensity="360" /> <!-- Workaround -->
        <screen android:screenSize="small" android:screenDensity="420" /> <!-- Workaround Google Pixel, Nexus 5x -->
        <screen android:screenSize="small" android:screenDensity="xxhdpi" /> <!-- 480 -->
        <screen android:screenSize="small" android:screenDensity="560" /> <!-- Workaround Google Pixel XL, Nexus 6, Nexus 6P -->
        <screen android:screenSize="small" android:screenDensity="xxxhdpi" />  <!-- 640 -->
        <!-- all normal size screens -->
        <screen android:screenSize="normal" android:screenDensity="ldpi" /> <!-- 120 -->
        <screen android:screenSize="normal" android:screenDensity="mdpi" /> <!-- 160 -->
        <screen android:screenSize="normal" android:screenDensity="hdpi" /> <!-- 240 -->
        <screen android:screenSize="normal" android:screenDensity="280" /> <!-- Workaround -->
        <screen android:screenSize="normal" android:screenDensity="xhdpi" />  <!-- 320 -->
        <screen android:screenSize="normal" android:screenDensity="360" /> <!-- Workaround -->
        <screen android:screenSize="normal" android:screenDensity="420" /> <!-- Workaround Google Pixel, Nexus 5x -->
        <screen android:screenSize="normal" android:screenDensity="xxhdpi" /> <!-- 480 -->
        <screen android:screenSize="normal" android:screenDensity="560" /> <!-- Workaround Google Pixel XL, Nexus 6, Nexus 6P -->
        <screen android:screenSize="normal" android:screenDensity="xxxhdpi" /> <!-- 640 -->
    </compatible-screens>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/safedata_logo"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/safedata_logo_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Safedata">
        <activity
            android:name=".NewVersionActivity"
            android:exported="false" />
        <activity
            android:name=".Activities.EditActivity"
            android:configChanges="orientation"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activities.DetailsActivity"
            android:configChanges="orientation"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activities.AddPasswordActivity"
            android:configChanges="orientation"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activities.VaultCreationWarningActivity"
            android:configChanges="orientation"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activities.HelperActivity"
            android:configChanges="orientation"
            android:exported="true"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Activities.VaultCreationActivity"
            android:configChanges="orientation"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activities.VaultActivity"
            android:configChanges="orientation"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activities.MainActivity"
            android:configChanges="orientation"
            android:exported="true"
            android:screenOrientation="portrait" />
    </application>

</manifest>